/* Overall Body Styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #e0e0e0; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

/* Container Styling */
#box {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  width: 650px;
}

/* Form Styling */
form {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input Group Styling */
#locationmap {
  width: 650px;
  display: flex;
  flex-direction: column;
}
.input-group {
  display: flex;
  width: 650px;
  margin-bottom: 20px;
}
.input {
  background-color: #1a1a1d; 
  border: 1px solid #333;
  border-radius: 5px;
  color: #e0e0e0; 
  padding: 10px;
  margin-right: 10px;
  flex: 1;
}

.input:focus {
  outline: none;
  border-color: #4a4a6a;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}

/* Button Styling */
.button {
  background-color: #333;
  color: #e0e0e0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #555; 
}

.button:active {
  transform: scale(0.98); 
}

/* Suggestions Box Styling */
#suggestions {
  margin-top: 36px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #333;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  flex: 1.5;
}
#addressInput {
  background-color: #1a1a1d; 
  border: 1px solid #333;
  border-radius: 5px;
  color: #e0e0e0; 
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  flex: 1.5;
}
.suggestion-item {
  flex: 1.5;
  padding: 10px;
  color: #e0e0e0;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #444; 
}

.background-video {
  z-index:-1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
#launch {
  width: fit-content;
}

/* Responsive Design */
@media (max-width: 700px) {
  #box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 15px;
  }
  #suggestions {
    margin-top: 36px;
    flex: 1;
  }
  .suggestion-item {
    flex: 1;
  }

  .input-group {
    width: 400px;
    gap: 10px;
  }
  #locationmap {
    width: 400px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  #box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 15px;
  }
  #suggestions {
    margin-top: 36px;
    flex: 1;
  }
  .suggestion-item {
    flex: 1;
  }

  .input-group {
    width: 350px;
    gap: 10px;
  }
  #locationmap {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
}